
html {
    scroll-behavior: smooth;
    font-size: 10px;
}

.wrapper {
    width: 1020px;
    height: 3528px;
    margin: 0 auto;
    position: relative;
 
    @media (max-width: 1020px) {
        width: 100vw;
        height: auto;
    }
}

.header {
    width: 1020px;
    height: auto;
    display: flex;
    margin: 0 auto;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #2d303a;
    z-index: 2;
    border-bottom: 6px solid #323746;

    @media (max-width: 1020px) {
        width: 100%;
    }
}

.burger__menu {
    display: none;

    @media (max-width: 767px) {
        display: block;
        text-align: left;
        padding-left: 20px;
    }
}

.header__logo {
    font-size: 2.5rem;
    line-height: 0.6rem;
    color: #ffffff;
    font-family: "Lato",sans-serif;
    font-weight: 700;
    padding-left: 40px;
    padding-bottom: 41px;
    padding-top: 29px;
    text-transform: uppercase;

    @media (max-width:765px) {
        text-align: center;
        font-size: 2rem;
        line-height: 2.4rem;
        padding-bottom: 24px;
        padding-top: 23px;
        padding-left: 0;
        padding-right: 40px;
    }

}

.header__logo span {
    color: #f06c64;
}

.navigation {
    display: flex;
    padding-bottom: 42px;
    padding-top: 39px;
    padding-right: 40px;

    @media (max-width:767px) {
       display: none;
    }
   
}

.navigation__link {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-family: "Lato",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.navigation__item::after {
    content: "•";
    padding-right: 12px;
    padding-left: 12px;
    color: #3c404f
    
}

.navigation__item:last-child::after {
    content: none;
}

.active_link {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-family: "Lato",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(240, 108, 100, 255);
}

//Slider 

.slider {
    width: 100%;
    height: 17%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 8%;
    overflow: hidden;
    transition: all .5s ease;

    @media (max-width: 1020px) {
        width: 100%;
        padding-top: 10%;
    }

    @media (max-width:700px) {
        width: 100%;
        padding-top: 18%;
    }
  
}

.slide-first__container {
    position: absolute;
    bottom: 0;

    @media (max-width: 1020px) {
        width: 100%;
        height: 100%;
        position: static;
    }
}

.slide_first {
    display: flex;

    @media (max-width: 1020px) {
        width: 100%;
    }
}

.slide_second {
    display: flex;

    @media (max-width: 1020px) {
        width: 100%;
    }
}

.slide-second__container {
    position: absolute;
    bottom: 0;

    @media (max-width: 1020px) {
        width: 100%;
        bottom: 0;
    }
}

.slide_hidden {
    left: 1020px;
    transition: all .5s ease;
}

.slide_show {
    left:0;
    transition: all .5s ease;
}

.home__btn {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    cursor: pointer;
    left: 478px;
    bottom: 75px;
    border-radius: 50%;
    z-index: 1;

}

.home__btn_ver {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    cursor: pointer;
    left: 200px;
    bottom: 97px;
    border-radius: 50%;
    z-index: 1;

}

.home__btn_gor {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    left: 435px;
    bottom: 295px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
   
}

.black-screen {
    width: 200px;
    height: 354px;
    display: block;
    position: absolute;
    left: 398px;
    bottom: 128px;
    background-color: #131313;
    transition: all .3s ease-in;
    z-index: 1;
    opacity: 0;

    @media (max-width: 1020px) {
        display: none;
    }
}

.black-screen__ver {
    width: 188px;
    height: 333px;
    display: block;
    position: absolute;
    left: 126px;
    bottom: 148px;
    background-color: #131313;
    transition: all .3s ease;
    z-index: 1;
    opacity: 0;

    @media (max-width: 1020px) {
        display: none;
    }
}

.black-screen__gor {
    width: 333px;
    height: 189px;
    display: block;
    position: absolute;
    left: 485px;
    bottom: 221px;
    background-color: #131313;
    transition: all .3s ease;
    z-index: 1;
    opacity: 0;

    @media (max-width: 1020px) {
        display: none;
    }
}

.hidden_screen {
    opacity: 1;
}

.slider__btn_left {
    position: absolute;
    top: 55%;
    left: 3%;
    opacity: 0.7;
    z-index: 1;
}



.slider__btn_right {
    position: absolute;
    opacity: 0.7;
    top: 55%;
    right: 3%;
    z-index: 1;
    
}

//Service

.service {
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    border-bottom: 4px solid #ffffff;
}

.service__title {
    padding-left: 40px;
    padding-top: 68px;
    font-size: 3.0rem;
    line-height: 1.8rem;
    color: #666d89;
    font-family: "Lato",sans-serif;
    font-weight: 900;
    text-align: left;

    @media (max-width: 765px) {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 25px;
    }
   
}

.service__description {
    padding-left: 40px;
    padding-top: 27px;
    font-size: 1.8rem;
    line-height: 3.0rem;
    color: #767e9e;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    text-align: justify;
    padding-right: 40px;

    @media (max-width: 765px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.service__container {
    width: 93%;
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 52px;

    @media (max-width: 765px) {
        width: 85%;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-top: 25px;
    }
}

.service__item {
    height: 110px;
    margin: 10px;
    flex: 1 0 25%;
    display: flex;

    @media (max-width: 1020px) {
        flex: 1 0 35%;
    }

    @media (max-width: 765px) {
        flex: 1 0 50%;
    }
}

.service__item::before {
    content: "";
    float: left;
    padding-top: 100%;
}

.item__icon {
    width: 60px;
    height: 60px;
    padding-right: 20px;
}


.item__title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #666d89;
    font-family: "Lato",sans-serif;
    font-weight: 900;
    text-align: left;
    padding-bottom: 10px;
}

.item__text {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #767e9e;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    text-align: justify;
}


//Portfolio

.portfolio {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color:#2d303a;
    border-bottom: 6px solid #323746;
}


.portfolio__title {
    font-size: 3.0rem;
    line-height: 1.8rem;
    color: #666d89;
    font-family: "Lato",sans-serif;
    font-weight: 900;
    text-align: left;
    padding-top: 69px;
    padding-left: 40px;
    padding-bottom: 27px;

    @media (max-width: 765px) {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 42px;
    }
}

.portfolio__description {
    font-size: 1.8rem;
    line-height: 3.0rem;
    color: #767e9e;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    text-align: left;
    padding-left: 40px;
    padding-bottom: 18px;

    @media (max-width: 765px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.tags-container {
    width: 50%;
    display: flex;
    align-items: center;
    padding-bottom: 18px;
    padding-left: 40px;

    @media (max-width: 765px) {
        padding-left: 30px;
        padding-right: 30px;
        width: 90%;
    }
}

.portfolio__tag {
    border-radius: 5px;
    background-color: #2d303a;
    border: 1px solid #666d89;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #767e9e;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    text-align: center;
    padding-bottom: 6px;
    padding-top: 4px;
    margin-right: 10px;
}

.portfolio__tag:hover {
    cursor: pointer;
    color: #dedede;
    border: 1px solid #c5c5c5;
    transition: all .3s ease-out;
}

.active_tag {
    color: #dedede;
    border: 1px solid #c5c5c5;
}

.active_img {
    border: 5px solid #F06C64;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 71px;

    @media (max-width: 765px) {
        padding-bottom: 42px;
    }
}

.portfolio__list {
    margin: -5px 10px;
    flex: 1 0 20%;
    cursor: pointer;

    @media (max-width: 1020px) {
        flex: 1 0 25%;
    }

    @media (max-width: 765px) {
        flex: 1 0 35%;
        margin: -5px 5px;
    }
}

.portfolio__list::before {
    content: "";
    float: left;
    padding-top: 100%;
}

.portfolio__img {
    width: 100%;
    height: auto;
}

.portfolio__list:nth-child(n+13) {
  display: none;
}

// About 

.about-us {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;

}

.about-us__title {
    font-size: 3.0rem;
    line-height: 1.8rem;
    color: #666d89;
    font-family: "Lato",sans-serif;
    font-weight: 900;
    text-align: left;
    padding-top: 67px;
    padding-bottom: 27px;
    padding-left: 40px;

    @media (max-width: 765px) {
        padding-left: 30px;
    }
}

.about-us__description {
    font-size: 1.8rem;
    line-height: 3.0rem;
    color: #767e9e;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    text-align: left;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;

    @media (max-width: 765px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.members-container {
    width: 94%;
    display: flex;
    padding-left: 40px;

    @media (max-width: 1020px) {
        width: 92%;
    }

    @media (max-width: 765px) {
      flex-direction: column;
      padding-left: 30px;
    }
}

.member {
   width: calc(100vw/4*3);
   padding-right: 2%;

   @media (max-width: 765px) {
        width: 90%;
   }
}

.member__photo {
    width: 100%;
}

.member__title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #666d89;
    font-family: "Lato",sans-serif;
    font-weight: 900;
    text-align: left;
    padding-top: 13px;
    padding-bottom: 10px;

    @media (max-width: 765px) {
        padding-bottom: 5px;
    }
}

.member__description {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #767e9e;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    text-align: justify;
    padding-bottom: 8%;

    @media (max-width: 765px) {
        padding-bottom: 13px;
    }
}

.icon-container {
    width: 152px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 71px;

    @media (max-width: 765px) {
        padding-bottom: 32px;
    }
}

.icon:hover {
    opacity: 0.7;
    transition: all .3s ease-out;
}

// Contact

.quote {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #f06c64;
    border-bottom: 6px solid  #ea676b;
}

.quote__title {
    font-size: 3.0rem;
    line-height: 1.8rem;
    color: #f0d8d9;
    font-family: "Lato",sans-serif;
    font-weight: 900;
    text-align: left;
    padding-top: 67px;
    padding-bottom: 27px;
    padding-left: 40px;

    @media (max-width: 765px) {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 44px;
    }
}

.quote__description {
    font-size: 1.8rem;
    line-height: 3.0rem;
    color: #f0d8d9;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    text-align: justify;
    padding-bottom: 47px;
    padding-left: 40px;
    padding-right: 40px;

    @media (max-width: 765px) {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 17px;
    }
}

.contact-container {
    width: 100%;
    display: flex;
    padding-left: 40px;
    padding-bottom: 64px;

    @media (max-width: 765px) {
        width: 91%;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 42px;
        flex-direction: column;
    }
}

.form {
    width: 60%;
    height: auto;
    padding-right: 20px;
    display: flex;
    flex-direction: column;

    @media (max-width: 765px) {
        width: 90%;
    }
}

.form__name {
    width: 100%;
    height: 36px;
    background-color: #d6564f;
    border: 0;
    border-radius: 5px;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #f48c8f;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    text-align: left;
    margin-bottom: 16px;
}

.form__name::placeholder {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #f48c8f;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    padding-left: 15px;
    padding-top: 6px; 
}

.form__name::-ms-input-placeholder {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #f48c8f;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    padding-left: 15px;
    padding-top: 6px; 
}

.form__email {
    width: 100%;
    height: 36px;
    background-color: #d6564f;
    border: 0;
    border-radius: 5px;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #f48c8f;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    text-align: left;
    margin-bottom: 16px;
}

.form__email::placeholder {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #f48c8f;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    padding-left: 15px;
    padding-top: 6px;
}

.form__email::-ms-input-placeholder {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #f48c8f;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    padding-left: 15px;
    padding-top: 6px;
}


.form__subject {
    width: 100.5%;
    height: 36px;
    background-color: #d6564f;
    border: 0;
    border-radius: 5px;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #f48c8f;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    text-align: left;
    margin-bottom: 16px;
}

.form__subject::placeholder {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #f48c8f;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    padding-left: 15px;
    padding-top: 6px;
}

.form__subject::-ms-input-placeholder {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #f48c8f;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    padding-left: 15px;
    padding-top: 6px;
}


.form__textarea {
    width: 100%;
    height: 40%;
    background-color: #d6564f;
    border: 0;
    border-radius: 5px;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #f48c8f;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    text-align: left;
    margin-bottom: 16px;
    resize: none;
}

.form__textarea::placeholder {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #f48c8f;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    padding-left: 13px;
    padding-top: 6px;
}

.form__textarea::-ms-input-placeholder {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #f48c8f;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    padding-left: 13px;
    padding-top: 6px;
}

.form__submit {
    width: 136px;
    height: 38px;
    background:#FBC65F;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #886A30;
    font-family: "Lato",sans-serif;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-out;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media (max-width: 765px) {
        width: 102%;
    }
}

.form__name:invalid {
    border: 1px solid rgba(255,0,0,0.5);

}

.form__name:valid {
    border: 1px solid rgba(0,0,0,0.4);
}

.form__email:invalid {
    border: 1px solid rgba(255,0,0,0.5);

}

.form__email:valid {
    border: 1px solid rgba(0,0,0,0.4);
}


.contact {
    width: 40%;
    padding-right: 40px;

    @media (max-width: 765px) {
        width: 100%;
        padding-top: 32px;
    }
}

.contact__title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #f0d8d9;
    font-family: "Lato",sans-serif;
    font-weight: 900;
    text-align: left;
    padding-bottom: 9px;
    padding-right: 40px;

}

.contact__description {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #f0d8d9;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    text-align: justify;
    padding-bottom: 20px;
    padding-right: 40px;

}


.contact__link {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #f0d8d9;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
}

.contact__link:hover {
    text-decoration: underline;
}

.contact__loc > img {
    padding-left: 4px;
    padding-right: 9px;
}

.contact__tel > img {
    padding-left: 2px;
    padding-right: 8px;
}

.contact__mail > img {
    padding-left: 1px;
    padding-right: 6px;
}

.footer {
    width: 100%;
    height: auto;
    background-color:#2d303a;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 765px) {
       justify-content: center;
    }
}

.footer__copyright {
    font-size: 1.2rem;
    line-height: 0.6rem;
    color: #666d89;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    text-align: left;
    padding-left: 40px;

    @media (max-width: 765px) {
        display: none;
     }
}

.footer__icon {
    width: 153px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (max-width: 765px) {
        padding-right: 0;
    }
}

.message-block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    font-size: 2.2rem;
    line-height: 2.2rem;
    color: #131313;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    background: #0009;
    z-index: 2;
}

.hidden {
    display: none;
}

.message {
    width: 30%;
    height: auto;
    position: absolute;
    top: 45%;
    left: calc(100vw/3);
    border: 2px solid #131313;
    text-align: center;
    background: #ffffff;
    overflow-wrap: break-word;

    @media (max-width:768px) {
        width: 60%;
        left: 20%;
    }

}

.message h3 {
    padding: 10px;
}

.message p {
    padding: 5px;
}

.btn-ok {
    width: 40px;
    height: 25px;
    margin-bottom: 10px;
    background:#FBC65F;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

@media (min-width:1020px) {
    .navigation__link:hover {
        cursor: pointer;
        color: rgba(240, 108, 100, 255);
        transition: all .3s ease-out;
    }

    .slider__btn_left:hover {
        width: 20px;
        height: 30px;
        opacity: 1;
        cursor: pointer;
        transition: all .1s ease-out;
    }

    .slider__btn_right:hover {
        width: 20px;
        height: 30px;
        opacity: 1;
        cursor: pointer;
        transition: all .1s ease-out;
    }

    .form__submit:hover {
        opacity: 0.7;
    }
 }

 @media (max-width:765px) {
    .portfolio__list:nth-child(n+9) {
        display: none;
    }
}
 